-- AlpineCommunicationImpls.config-- Last edited by--   MBrown on February 2, 1984 11:24:15 am PST-- Hauser, March 28, 1985 9:52:43 am PSTAlpineCommunicationImpls: CONFIG  IMPORTS    -- Cedar    BasicTime, LupineRuntime, Rope, RPC, RPCLupine,     -- Alpine    AlpineZones  EXPORTS    AlpineImport,    AlpineTransMgrRpcControl  CONTROL    AlpineImportImpl,    AlpineImportMapImpl,    AlpineTransMgrRpcClientImpl,    AlpineTransMgrRpcBinderImpl  = BEGIN  -- The comment below a module name lists the state kept in it.  AlpineImportImpl;    -- (none)  AlpineImportMapImpl;    -- a list of AlpineImport.Handle  AlpineTransMgrRpcClientImpl;  AlpineTransMgrRpcBinderImpl;  END.